---
import "../../style/style.css";
import hero from "../../../public/json/hero.json";
import heroDetail from "../../../public/json/hero-detail.json";
import seasonData from "../../../public/json/2024-03.json";

interface Card {
  slug: string;
  name: string;
  text: string;
  id: number;
  image: string;
  armor: number;
  artistName: string;
  recoRace: string;
}
export async function getStaticPaths() {
  return hero.cards.map(
    ({ slug, name, text, id, image, armor, artistName }) => {
      const detailData = heroDetail.cards.filter(
        (detailCard) => detailCard.parentId === id
      );
      const season = seasonData.filter(
        (seasonCard) => seasonCard.name === name
      );

      text = detailData.length ? detailData[0].text : "準備中";
      let recoRace = season.length ? season[0].recoRace.join(",") : "準備中";
      return {
        params: { slug },
        props: { name, text, image, armor, artistName, recoRace },
      };
    }
  );
}
const { slug } = Astro.params;
const { name, text, image, armor, artistName, recoRace } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.svg" />
    <title>{name}</title>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3676689120783487"
      crossorigin="anonymous"></script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2Q5FCZYQXF"
  ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2Q5FCZYQXF");
  </script>
  <body>
    <header>
      <h1>バトルグラウンド攻略サイト</h1>
      <nav>
        <ul>
          <li><a href="../../">各種ヒーロー解説</a></li>
        </ul>
      </nav>
    </header>

    <h1>{name}</h1>
    <article>
      <img src={image} alt="" />
      <div set:html={text} />
      <p>アーマー:{armor}</p>
      <p>作者：{artistName}</p>
      <p>適正：{recoRace}</p>
    </article>
    <p>
      {slug}
    </p>
  </body>
</html>
